<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="style/index.css" />
    <title>UserApp</title>
  </head>
  <body>
    <section>
      <h2>Add a new user</h2>
      <form action="/addUser" method="post">
        <label for="first">First name</label>
        <input type="text" name="first" placeholder="Your first name" />
        <label for="last">Last name</label>
        <input type="text" name="last" placeholder="Your last name" />
        <label for="age">Age</label>
        <input type="number" name="age" id="age" placeholder="Your age"/>
        <label for="zipcode">Zip Code</label>
        <input type="text" maxlength="5" name="zipcode" placeholder="Zip code"/>
        <button type="submit">Add</button>
      </form>
    </section>
    <section>
      <table>
        <thead>
          <tr>
            <td>First name</td>
            <td>Last name</td>
            <td>Age</td>
            <td>Zip Code</td>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(({first,last,age,zipcode,_id}) => {%>
          <tr>
            <td><%=first%></td>
            <td><%=last%></td>
            <td><%=age%></td>
            <td><%=zipcode%></td>
            <td>
              <form method="post" action=<%=`/delUser/${_id}`%> >
                <button type="submit" class="delete">Delete</button>
              </form>
            </td>
            <td>
              <form method="post" action=<%=`/modifyUser/${_id}` %>>
                <button type="submit" class="modify">Modify</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </section>
  </body>
</html>
